@(message: String)
@main(message){
	@helper.form(action = routes.GroupsController.create){
	<fieldset>
		<legend>@message</legend>
			<p>グループ名</p>
			<p><input type="text" name="groupName" value="亀北沢ボーイズ"></p>
			<p>メンバー1</p>
			<p>名前:<input type="text" name="playerNames[]" value="江波戸航平"></p>
			<p>メンバー2</p>
			<p>名前:<input type="text" name="playerNames[]" value="中村太郎"></p>
			<p>メンバー3</p>
			<p>名前:<input type="text" name="playerNames[]" value="吉田祐介"></p>
			<p>メンバー4</p>
			<p>名前:<input type="text" name="playerNames[]" value="成島太一"></p>
		<p><input type="submit" value="登録"></p>	
	</fieldset>
	}
}
