<!DOCTYPE html>
<html lang="ja">
  <head>
    <style ="text/css">
    div.bar {
      display: inline-block;
      width: 20px;
      height: 75px;   /* この数値は実行時に上書きされます */
      margin-right: 2px;
      background-color: teal;
    }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="./js/d3.min.js"></script>
    <script>
      var dataset = [ 5, 10, 15, 20, 25 ];

         d3.select("body").selectAll("p")
          .data(dataset)
          .enter()
          .append("div")
          .attr("class", "bar")
          .style("height", function(d) {
            var barHeight = d * 5; 
            return barHeight  + "px";
          });
    </script>
  </body>
</html>

